:root {
    --code-color: #dff4fa;
}

code {
    background-color: var(--code-color);
    color: var(--mui-palette-text-primary);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 5px;
    font-family: ui-monospace, monospace;
}